
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

     
html{
        height:100%
                
}

body
{       

        -webkit-box-sizing: border-box; /* Safari, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        width: 100%;
        color: rgba(230,230,230,1);
	background-color: rgba(10,10,10,1);
	margin: 0 -3px 0 0;
        overflow-x: hidden;
        height: 100vh;
        max-width: 100%;
        font-family: "Lekton";
        -webkit-touch-callout: none;
        -webkit-text-size-adjust:none;
        -moz-text-size-adjust:none;
        -ms-text-size-adjust:none;
        -webkit-text-size-adjust:100%;
        -moz-text-size-adjust:100%;
        -ms-text-size-adjust:100%;      
        //user-drag: none; 
        //-moz-user-select: none;
        //-webkit-user-drag: none;
        overflow: hidden;
}


#RendererMain canvas.vvvv-js-generated-renderer{
        display:block;
        position:absolute;
        z-index:-1;
        pointer-events: none;
}

.outer{
        min-height: 100vh;
        position: relative;
}
.CanvasDiv
{
	position:absolute; 
	top:0; 
	left:0;
	width: 100vw;
	height: 100vh;
}

.TextDiv
{
	position:absolute; 
	top:0; 
	left:0;
	width: 100vw;
	height: 100vh;
        background-color: rgba(255,255,255,0);
}

#btn-editor {
    position: absolute;
    left: 10px;
    top: 60px;
    width: 100px;
}

.statement {
    position:absolute;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    top: 70px;
    text-shadow: 0px 0px 20px rgba(0, 255, 50, 1);
    color: rgba(0,240,0,1);
    font-size: 18px;
    background-color: rgba(0,0,0,0.3);
    display: block;
    padding: 15px;
    z-index: 2;
    max-width: 900px;
    border: 0px solid rgba(0,255,50,1);
    border-radius: 15px;  
}

.back {
    position:absolute;
    left:20px;
    bottom: 60px;
    text-shadow: 0px 0px 20px rgba(0, 255, 50, 1);
    color: rgba(255,255,255,1);
    font-size: 18px;
    background-color: rgba(0,0,0,0.3);
    display: block;
    padding: 15px;
    z-index: 2;
    display:none;
    max-width: 900px;
    border: 0px solid rgba(0,255,50,1);
    border-radius: 15px;
    
}

h2
{
	font-size: 24px;
}


.logo {
    position:fixed;
    top:0%;
    right: 0%;
    z-index: 5;
    width: 125px;
    margin-top: 15px;
    margin-left: 15px;
}
.logo_button {
    background-color: rgba(0,0,0,1);
    width:auto; 
    float: left;
    border-radius: 8px;
}

.menu_buttons{
    position:fixed;
    top:0%;
    left: 0%;
    z-index: 5;
    width: 125px;
    margin-top: 15px;
    margin-left: 15px;
    display:none;
}


.salad_wrap{
    -webkit-box-sizing: border-box; /* Safari, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        width: 100%;
        max-width: 100%;
}

.button_wrap {
    position: absolute;
    height: 80%;
    width: 100%;
    left: 50%;
    top: 10%;
    
}
.button {
    
    width:33.3%;
    height: 33.3%;

    z-index: 4;
    
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}


    
        
.footer_content {display:inline-block ;
                float:right; padding-left:5px;}

body {
 background-color: black;
 background-image: url('slider2.jpg');
 background-size: cover;
}

button {
  background-color: darkorange;
  position: absolute;
  width: 7%;
  font-size: 9px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 2px 2px;
  text-align: center;
}
    
.container {
 position: fixed;
 bottom: 2.5%;
 right: 0%;
 width: 42%;
 z-index: 15;
}

.container img {
  width: 100%;
  height: auto;
}
    
.a {
  top: 52%;
  left: 32%;
}
    
.b {
  top: 46.7%;
  left: 34%;
}
    
.c {
  top: 42%;
  left: 41%;
}
    
.d {
  top: 37%;
  left: 36%;
}
    
.e {
  top: 31.5%;
  left: 37%;
}

.f {
  top: 24%;
  left: 28%;
  background-color: aquamarine;
}
    
.g {
  top: 19%;
  left: 28%;
  background-color: aquamarine;
}

.h {
  top: 37%;
  left: 45%;
}
    
.i {
  top: 31.5%;
  left: 46%;
}
    
.j {
  top: 26%;
  left: 46%;
}
    
.k {
  top: 19%;
  right: 43.5%;
}
    
.l {
  bottom: 44%;
  left: 51%;
  width: 2%;
  height: 10%;
}
    
.m {
  bottom: 30%;
  right: 39%;
}
    
.n {
  bottom: 35%;
  right: 36%;
}
    
.o {
  bottom: 40%;
  right: 39%;
}
    
.p {
  bottom: 45%;
  right: 33%;
}
    
.q {
  bottom: 50%;
  right: 36%;
}
    
.r {
  top: 40%;
  right: 40%;
}
    
.s {
  top: 31.5%;
  right: 37%;
}
    
.t {
  bottom: 25%;
  right: 33%;
}

.v {
  bottom: 31%;
  right: 32%;
  width: 2%;
  height: 10%;
}
    
.w {
  top: 35%;
  right: 34%;
  width: 2%;
  height: 10%;
}
    
.x {
  top: 26%;
  right: 32%;
}
    
.az {
  top: 21%;
  right: 31%;
  width: 4%;
}
    
.z {
  background-color: yellow;
  top: 35%;
  left: 32%;
  width: 2%;
  height: 10%;
}
    
.direccion {
  background-color: yellow;
  bottom: 35%;
  left: 35%;
  width: 9%;
}
    
.pec1 {
  background-color: yellow;
  top: 42%;
  left: 23%;
}
    
.pec2 {
  background-color: yellow;
  top: 37%;
  left: 21%;
}
    
.biblioteca {
  background-color: aquamarine;
  bottom: 22%;
  right: 20%;
  width: 10%;    
  height: 12%;
}
    
.audiovisual {
  background-color: violet;
  bottom: 32%;
  right: 48%;
  width: 7%;    
  height: 9%;
}
    
.gimnasio {
  background-color: violet;
  top: 19%;
  left: 40%;
  width: 5%;    
  height: 4%;
}
    
.siladin {
  background-color: aquamarine;
  top: 19%;
  right: 36%;
}
    
.computo {
  background-color: aquamarine;
  top: 19%;
  right: 20%;
  width: 10%;   
}
    
.dcultural {
  background-color: violet;
  top: 26%;
  right: 20%;
  width: 10%;  
}
    
.efisica {
  background-color: violet;
  top: 29%;
  right: 20%;
  width: 10%;
}
    
.cdeportivo {
  background-color: violet;
  bottom: 41%;
  right: 20%;
  width: 10%;    
  height: 22%;
}
